html {
  font: 1vmin Helvetica, sans-serif;
}

body {
  color: #333;
}

.autoprefixer-test {
  user-select: none;
  color: blue;
}

.blue {
  color: blue;
}

.black {
  color: #333;
}

button {
  background-color: #ff7514;
  color: #333333;
  text-align: center;
  align-items: center;
  display: flex;
}
